/* advantages start */

.advantages__header {
  padding: 40px 25px 25px 25px;

  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 550px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 50px;
  }
}

.advantages__slogan {
  font-size: 21px;
  line-height: $secondary-line-height;
  font-weight: bold;
}

.advantages__intro {
  line-height: $secondary-line-height;
  color: $secondary-text-color;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: $secondary-color;
}

.advantages__item {
  .advantages__item-wrapper {
    border-bottom: 1px solid #d6d6d6;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &:last-child {
    .advantages__item-wrapper {
      border-bottom: none;
    }
  }
}

.advantages__item--first,
.advantages__item--second {
  background-color: $primary-color;
  color: $background-color;

  .advantages__item-wrapper {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
  }
}

.advantages__item--second {
  .advantages__item-wrapper {
    @media (min-width: $tablet-width) {
      order: 1;
    }
  }
}

.advantages__item-wrapper {
  text-align: center;

  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    width: 256px;
    align-self: center;
    flex-shrink: 1;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.advantages__title {
  margin: 0;
  padding: 0;

  margin-bottom: 10px;

  font-size: 21px;
  line-height: $secondary-line-height;
  font-weight: bold;

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.advantages__item-number {
  display: block;
  margin-bottom: 20px;
}

.advantages__description {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    max-width: 167px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 269px;
  }
}

.advantages__showplace-image {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    max-height: 256px;
    overflow: hidden;
  }
}

.advantages__image {
  display: block;
  width: 100%;

  @media (min-width: $desktop-width) {
    margin-top: -80px;
  }
}

.advantages__city-features {
  @media (min-width: $tablet-width) {
    flex: 0 1 100%;
  }
}

.advantages__flex-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .advantages__item-wrapper {
    @media (min-width: $tablet-width) {
      max-width: 167px;
    }

    @media (min-width: $desktop-width) {
      max-width: 300px;
    }

    .advantages__description {
      @media (min-width: $tablet-width) {
        max-width: 100%;
      }
    }
  }
}

/* advantages end */
