/* button start */

.button {
  display: block;
  padding: 18px 0 18px 0;

  color: $background-color;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: $primary-color;

  border: none;
  outline: none;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    color: #94b9d2;
    background-color: #5496bd;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;

  background-color: #e5e5e5;
}

/* button end */
