/* city-features start */

.city-features {
  background-color: $background-color;

  margin: 0;
  padding: 25px 20px 25px 0;

  @media (min-width: $tablet-width) {
    padding: 65px 0 65px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.city-features__item {
  padding: 12px 0 20px 70px;

  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.city-features__title {
  display: block;

  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  color: $primary-text-color;
  font-size: 21px;
  line-height: $secondary-line-height;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.city-features__description {
  margin: 0;
  padding: 0;

  color: $secondary-text-color;

  @media (min-width: $tablet-width) {
    max-width: 165px;
  }

  @media (min-width: $desktop-width) {
    max-width: 260px;
  }
}

.city-features__item--houses,
.city-features__item--souvenirs,
.city-features__item--food {
  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 20px;

    width: 40px;
    height: 40px;

    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      position: static;

      width: 75px;
      height: 75px;

      margin-bottom: 25px;
    }
  }
}

.city-features__item--houses {
  &::before {
    background-image: url("../img/svg/icon-house.svg");
  }
}

.city-features__item--souvenirs {
  &::before {
    background-image: url("../img/svg/icon-gift.svg");
  }

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.city-features__item--food {
  &::before {
    background-image: url("../img/svg/icon-burger.svg");
  }
}

/* city-features end */
