/* contact start */

.contact__wrapper {
  padding: 29px 20px 0 20px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 48px 155px 0 155px;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 0 0 0;
  }
}

.contact__title {
  display: block;
  margin-bottom: 22px;

  font-size: 21px;
  line-height: $secondary-line-height;
  font-weight: bold;
}

.contact__instruction {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  line-height: 24px;

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.contact__hotel-search {
  margin: 0 auto;
  margin-bottom: 49px;

  max-width: 458px;


  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.no-webp .contact__map {
  height: 350px;

  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  position: relative;

  @media (max-width: $mobile-width-only) {
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-mobile@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  &::after {
    content: "";

    position: absolute;

    top: calc(50% - 15px);
    left: calc(50% - 15px);

    width: 27px;
    height: 27px;

    background-image: url("../img/svg/map-marker.svg");
  }
}

.webp .contact__map {
  height: 350px;

  background-image: url("../img/webp/bg-map-mobile@1x.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  position: relative;

  @media (max-width: $mobile-width-only) {
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/webp/bg-map-mobile@2x.webp");
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/webp/bg-map-tablet@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/webp/bg-map-tablet@2x.webp");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/webp/bg-map-desktop@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/webp/bg-map-desktop@2x.webp");
      background-size: 1200px auto;
    }
  }

  &::after {
    content: "";

    position: absolute;

    top: calc(50% - 15px);
    left: calc(50% - 15px);

    width: 27px;
    height: 27px;

    background-image: url("../img/svg/map-marker.svg");

    z-index: 1;
  }
}

.contact__map {
  iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 2;
  }
}

/* contact end */
