/* controls start */

.controls__range {
  display: flex;
  align-items: center;

  width: 280px;
  height: 45px;

  background-color: rgba($color: #000000, $alpha: 0.5);

  input[type="range"] {
    width: 235px;
    height: 3px;

    margin: 0 auto;

    appearance: none;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    outline: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 9px;
    height: 9px;

    appearance: none;
    background-color: #ffffff;

    border-radius: 50%;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.controls__buttons {
  display: flex;
  justify-content: space-between;

  padding: 22px 20px 20px;

  background-color: #f2f2f2;

  svg {
    fill: #5c6870;
  }
}

.controls__button {
  margin: 0;
  padding: 0;

  border: none;
  outline: none;

  background-color: transparent;

  &:hover,
  &:focus {
    svg {
      fill: #000000;
    }
  }

  &:active {
    svg {
      fill: #000000;
      opacity: 0.3;
    }
  }
}

.controls__buttons-wrapper {
  display: flex;

  button:last-child {
    margin-left: 30px;
  }
}

@media (min-width: $tablet-width) {
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 0 35px;

    width: 100%;
    height: 93px;

    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  .controls__range {
    display: contents;

    width: 0;
    height: 0;

    background-color: transparent;

    input[type="range"] {
      width: 389px;
    }
  }

  .controls__buttons {
    display: contents;

    padding: 0;

    svg {
      fill: #ffffff;
    }
  }

  .controls__button {
    background-color: transparent;

    &:hover,
    &:focus {
      svg {
        fill: #ffffff;
        opacity: 0.6;
      }
    }

    &:active {
      svg {
        fill: #ffffff;
        opacity: 0.3;
      }
    }
  }

  .controls__replay {
    order: -1;
  }
}

/* controls end */
