/* copyright start */

.copyright {
  width: 140px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.copyright__text {
  line-height: $secondary-line-height;
  font-weight: normal;
}

.copyright__link {
  outline: none;

  &:hover,
  &:focus {
    svg {
      fill: $primary-color;
    }
  }

  &:active {
    svg {
      fill: #b2b2b2;
    }
  }
}

/* copyright end */
