/* feedback start */

.feedback__item {
  padding: 20px 0;
  margin: 0;

  border: none;
  border-top: 1px solid #e5e5e5;
}

.feedback__title {
  margin: 0;
  margin-bottom: 25px;

  text-align: center;

  font-size: $secondary-font-size;
  line-height: $secondary-line-height;
}

.feedback__contactly {
  font: inherit;
  margin: 0;
  padding: 0;
}

.feedback__text-label {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  span {
    display: block;
    margin-right: 14px;

    color: #333333;
    line-height: $secondary-line-height;
  }
}

.feedback__index {
  top: 0;
  font-size: 100%;
}

.feedback__input-text {
  flex-grow: 1;
  width: 0;

  padding: 19px 18px;

  border: none;
  outline: none;

  color: #000000;
  font-size: $secondary-font-size;
  font-weight: bold;

  background-color: #f2f2f2;

  &::placeholder {
    color: #000000;
    font-size: $secondary-font-size;
    font-weight: bold;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }
}

.feedback__phone,
.feedback__email {
  flex-direction: column;
  align-items: flex-start;

  span {
    margin-left: 22px;
    margin-bottom: 10px;
  }

  .feedback__input-text {
    width: 100%;
  }
}

.feedback__textarea {
  margin: 0;
  padding: 20px 20px;

  display: block;

  width: 100%;
  min-height: 160px;

  border: none;
  outline: none;
  resize: none;

  color: $primary-text-color;
  font-size: $secondary-font-size;
  line-height: $secondary-line-height;
  font-weight: bold;

  background-color: #f2f2f2;

  &::placeholder {
    color: $primary-text-color;
    font-size: $secondary-font-size;
    line-height: $secondary-line-height;
    font-weight: bold;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }
}

.feedback__send-button {
  width: 100%;
}

.feedback__bound {
  display: none;

  color: $secondary-text-color;
  line-height: 26px;
}

.feedback__phone {
  width: auto;
}

@media (min-width: $tablet-width) {
  .feedback__phone,
  .feedback__email {
    position: relative;

    &::after {
      content: "";

      position: absolute;

      width: 57px;
      height: 58px;

      top: 36px;
      right: 0;

      background-repeat: no-repeat;
      background-position: center center;

      background-color: #e6e6e6;
    }
  }

  .feedback__phone {
    &::after {
      background-image: url("../img/svg/icon-phone.svg");
    }
  }

  .feedback__email {
    &::after {
      background-image: url("../img/svg/icon-mail.svg");
    }
  }

  .feedback__wrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .feedback__bound {
    display: block;
  }

  .feedback__send-button {
    max-width: 324px;
  }

  .feedback__item--position .feedback__title,
  .feedback__item:first-child .feedback__title {
    text-align: start;
  }

  .feedback__item {
    padding: 0;
    margin-bottom: 70px;
    border-top: none;
  }

  .feedback__item--position {
    order: -1;

    flex-grow: 1;
  }

  .feedback__item:first-child {
    flex-grow: 1;
  }

  .feedback__item:not(:first-child):not(.feedback__item--position) {
    width: 100%;
  }

  .feedback__title {
    margin-bottom: 60px;

    font-size: 21px;

    br {
      display: block;
    }
  }

  .feedback__title--special {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before,
    &::after {
      content: "";

      height: 1px;
      width: auto;

      flex-grow: 1;

      background-color: #dbdbdb;
    }

    &::before {
      margin-right: 70px;
    }

    &::after {
      margin-left: 70px;
    }
  }
}

@media (min-width: $desktop-width) {
  .feedback__send-button {
    max-width: 480px;
  }

  .feedback__item--position .feedback__title {
    margin-left: 80px;
  }

  .feedback__item--contacts {
    .feedback__title {
      width: 100%;
    }

    display: flex;
    flex-direction: column;
  }

  .feedback__item-wrapper {
    display: flex;
    justify-content: space-between;

    .feedback__text-label {
      width: 50%;

      margin: 0;

      flex-direction: row;
      align-items: center;
    }

    .feedback__phone {
      justify-content: flex-start;
    }

    .feedback__email {
      justify-content: flex-end;
    }

    .feedback__input-text {
      max-width: 315px;
    }

    span {
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  .feedback__contactly {
    display: none;
  }

  .feedback__phone,
  .feedback__email {
    &::after {
      top: 0;
      right: 0;
    }
  }

  .feedback__phone {
    &::after {
      right: 82px;
    }
  }
}

/* feedback end */
