/* main-nav start */

.main-nav {
  position: relative;
}

.main-nav__open-button,
.main-nav__close-button {
  position: absolute;

  padding: 0;
  display: block;

  z-index: 2;

  cursor: pointer;
  border: none;

  background-color: transparent;

  outline: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__open-button {
  bottom: 18px;
  right: 20px;

  &:focus,
  &:active {
    outline: 1px solid $primary-color;
  }
}

.main-nav__close-button {
  top: 17px;
  right: 20px;

  &:focus,
  &:active {
    outline: 1px solid #ffffff;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.main-nav__item {
  width: 100%;

  text-align: center;

  &:not(:first-child):nth-child(n + 3) .main-nav__item-link {
    border-top: 1px solid #9ac2db;
  }

  &:not(:first-child):not(:last-child) .main-nav__item-link {
    border-bottom: 1px solid #678fa8;
  }

  &:last-child {
    position: relative;

    &::after {
      content: "";

      position: absolute;

      bottom: 0;
      left: 0;

      width: 100%;
      height: 7px;

      box-shadow: inset 0 -4px 7px -4px rgba(0, 0, 0, 0.4);
    }
  }

  @media (min-width: $tablet-width) {
    &:not(:first-child):nth-child(n + 3) .main-nav__item-link,
    &:not(:first-child):not(:last-child) .main-nav__item-link {
      border: none;
    }

    &:nth-child(3) ~ .main-nav__item {
      order: 2;
    }

    &::after {
      display: none;
    }
  }
}

.main-nav__item--logo {
  max-height: 55px;

  order: 1;

  z-index: 1;
}

.main-nav__logo {
  &:focus {
    outline: 1px solid $primary-color;
  }
}

.main-nav__logo-image {
  @media (min-width: $desktop-width) {
    width: 188px;
    height: 96px;
  }
}

.main-nav__item-link {
  display: block;

  padding: 18px 0;

  font-size: $secondary-font-size;
  line-height: $secondary-font-size;
  font-weight: bold;
  color: #ffffff;

  background-color: $primary-color;

  outline: none;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    color: #94b9d2;
    background-color: #5496bd;
  }

  @media (min-width: $tablet-width) {
    margin-top: 20px;
    padding: 0;

    color: $primary-text-color;
    font-size: $primary-font-size;
    line-height: $primary-font-size;

    background-color: transparent;

    &:hover,
    &:focus {
      color: #81b3d2;
      background-color: transparent;
    }

    &:active {
      opacity: 0.3;
      background-color: transparent;
    }
  }
}

.main-nav__item-link--current {
  @media (min-width: $tablet-width) {
    cursor: pointer;

    color: #766357;

    &:hover,
    &:focus {
      color: #604e43;
    }

    &:active {
      opacity: 0.3;
      color: #766357;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    transition: margin-top 0.25s;
  }

  .main-nav--closed {
    margin-top: -(4 * 55px + 3);
  }

  .main-nav--opened .main-nav__item {
    margin-top: 0;
  }

  .main-nav--nojs .main-nav__close-button,
  .main-nav--nojs .main-nav__open-button {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}

/* main-nav end */
