/* options start */

.options__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.options__item {
  max-width: 280px;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 23px;
  }
}

.options__input + span {
  display: flex;
  align-items: center;

  font-size: $secondary-font-size;
  line-height: $secondary-line-height;
  font-weight: bold;
  text-transform: none;

  &::before {
    content: "";

    width: 55px;
    height: 55px;

    margin-right: 28px;

    background-color: #f2f2f2;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: #e5e5e5;
    }
  }

  &:active {
    &::before {
      background-color: #d5d5d5;
    }
  }
}

.options__radio + span {
  &::before {
    border-radius: 50%;
  }
}

.options__input:checked + span {
  &:active {
    &::after {
      opacity: 0.3;
    }
  }
}

.options__radio:checked + span {
  position: relative;

  &::after {
    content: "";

    position: absolute;

    top: 16px;
    left: 16px;

    width: 23px;
    height: 23px;

    border-radius: 50%;

    background-color: $secondary-text-color;
  }
}

.options__checkbox + span {
  &::before {
    border-radius: 5px;
  }
}

.options__checkbox:checked + span {
  position: relative;

  &::after {
    content: "";

    position: absolute;

    top: 19px;
    left: 17px;

    width: 24px;
    height: 16px;

    background-image: url("../img/svg/icon-tick.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .options--first {
    .options__item {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .options--wrapper {
    max-width: 500px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;

    .options__item {
      width: 50%;

      &:nth-last-child(2),
      &:nth-last-child(-n+2) {
        margin: 0;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .options--wrapper {
    max-width: 100%;
    margin: 0;

    flex-wrap: nowrap;
    justify-content: space-between;

    .options__item {
      width: auto;
      margin: 0;
    }
  }
}

/* options end */
