/* page-main start */

.page-main {
  background-color: $background-color;

  @include container;
}

.page-main__welcome {
  position: relative;

  padding: 78px 0 90px 0;
  text-align: center;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &::after {
    content: "";

    position: absolute;

    bottom: -1px;
    left: 0;

    width: 100%;
    min-height: 100%;

    background-image: url("../img/svg/bg-intro-triangle-mobile.svg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
}

.no-webp .page-main__welcome {
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (max-width: $mobile-width-only) {
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-back-tablet@1x.jpg");

    &::after {
      background-image: url("../img/svg/bg-intro-triangle-tablet.svg");
      background-size: 100%;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    &::after {
      background-image: url("../img/svg/bg-intro-triangle-desktop.svg");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.webp .page-main__welcome {
  background-image: url("../img/webp/bg-back-mobile@1x.webp");

  @media (max-width: $mobile-width-only) {
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/webp/bg-back-mobile@2x.webp");
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/webp/bg-back-tablet@1x.webp");

    &::after {
      background-image: url("../img/svg/bg-intro-triangle-tablet.svg");
      background-size: 100%;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/webp/bg-back-tablet@2x.webp");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/webp/bg-back-desktop@1x.webp");

    &::after {
      background-image: url("../img/svg/bg-intro-triangle-desktop.svg");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/webp/bg-back-desktop@2x.webp");
    }
  }
}

.page-main__welcome img {
  @media (min-width: $tablet-width) {
    width: 460px;
    height: 350px;
  }
}

.page-main__welcome--inner {
  background-position: center bottom;

  padding: 52px 0 67px 0;
}

@media (min-width: $tablet-width) {
  .page-main__welcome--inner {
    padding: 95px 0 117px 0;

    img {
      width: 458px;
      height: 78px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main__welcome--inner {
    padding: 101px 0 120px 0;

    img {
      width: 461px;
      height: 80px;
    }
  }
}

/* page-main end */
