/* page-footer start */

.page-footer {
  padding: 35px 0 23px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $background-color;

  @include container;

  @media (min-width: $tablet-width) {
    padding: 36px 0;
  }
}

.page-footer--wrapper {
  @media (min-width: $tablet-width) {
    width: 100%;

    padding: 0 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.page-footer__hashtag {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__hashtag-link {
  color: $primary-text-color;
  font-size: 21px;
  line-height: $secondary-line-height;
  font-weight: bold;

  outline: none;

  &:hover,
  &:focus {
    color: $primary-color;
  }

  &:active {
    color: $primary-text-color;
    opacity: 0.3;
  }
}

.page-footer__social {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

/* page-footer end */
