/* photos-list start */

.photos-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.photos-list__item {
  width: 100%;
  padding: 22px 20px;

  border-bottom: 1px solid #e5e5e5;
}

.photos-list__image-placeholder {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.photos-list__image {
  display: block;
  width: 100%;
}

.photos-list__image-discriprion {
  line-height: 24px;
}

.photos-list__discription-wrapper {
  display: flex;
  flex-direction: column;
}

.photos-list__image-title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-weight: bold;
}

.photos-list__image-author {
  margin-bottom: 10px;

  text-transform: none;
}

.photos-list__image-likes {
  display: flex;
  font-weight: bold;

  &::before {
    content: "";

    width: 23px;
    height: 21px;

    margin-right: 15px;

    background-image: url("../img/svg/dark-icon-like.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .photos-list {
    display: flex;
    flex-wrap: wrap;
  }

  .photos-list__item {
    padding: 0;

    border-bottom: none;

    &:not(:first-child) {
      width: 50%;
    }
  }

  .photos-list__image-placeholder {
    margin: 0;
  }

  .photos-list__image-discriprion {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 22px 20px 17px;

    background-color: #f2f2f2;
  }

  .photos-list__image-author {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .photos-list__item {
    &:not(:first-child) {
      width: auto;
    }

    position: relative;

    .photos-list__image-discriprion {
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;

      background-color: rgba($color: #000000, $alpha: 0.3);
    }
  }

  .photos-list__image-title,
  .photos-list__image-author,
  .photos-list__image-likes {
    color: #ffffff;
  }

  .photos-list__image-likes {
    &::before {
      background-image: url("../img/svg/white-icon-like.svg");
      background-repeat: no-repeat;
    }
  }
}

/* photos-list end */
