/* presentation start */

.presentation--container {
  padding-bottom: 50px;
}

.presentation__header {
  padding: 40px 25px 30px;
  text-align: center;

  border-bottom: 1px solid #e5e5e5;
}

.presentation__title {
  margin-bottom: 20px;
  padding: 0;

  font-size: $secondary-font-size;
  line-height: $secondary-line-height;
}

.presentation__discription {
  margin: 0;
  padding: 0;

  line-height: 24px;
  color: $secondary-text-color;
}

@media (min-width: $tablet-width) {
  .presentation--container {
    margin: 0 60px;
    padding-bottom: 40px;
  }

  .presentation__header {
    padding: 70px 110px;

    border-bottom: none;
  }

  .presentation__title {
    margin-bottom: 30px;
    padding: 0;

    font-size: 30px;
    line-height: $secondary-line-height;
  }

  .presentation__discription {
    margin: 0;
    padding: 0;

    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .presentation--container {
    margin: 0;
    padding-bottom: 85px;
  }

  .presentation__header {
    width: 442px;
    margin: 0 auto;
    padding: 114px 0 80px;

    border-bottom: none;
  }
}

/* presentation end */
