/* review start */

.review {
  padding-bottom: 47px;
}

.review__header {
  padding: 40px 20px 20px;

  text-align: center;
}

.review__title {
  display: block;
  margin-bottom: 30px;

  font-size: $secondary-font-size;
  line-height: $secondary-line-height;
  font-weight: bold;
}

.review__discription {
  margin: 0;
  padding: 0;

  color: $secondary-text-color;
  line-height: 24px;
}

.review__form {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .review {
    padding-bottom: 61px;
  }

  .review__title {
    font-size: 30px;
  }

  .review__header {
    padding: 70px 165px;
  }

  .review__form {
    padding: 0 60px;

    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .review {
    padding-bottom: 66px;
  }

  .review__header {
    padding: 70px 380px;
  }

  .review__form {
    padding: 0 120px;
  }
}

/* review end */
