/* social start */

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.social__item {
  background-color: $primary-color;

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.social__link {
  width: 46px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    svg {
      opacity: 0.3;
    }
  }
}

/* social end */
