/* video start */

.video__discription {
  padding: 35px 40px;

  text-align: center;
}

.video__title {
  display: block;

  margin-bottom: 35px;

  font-size: 18px;
  font-weight: bold;
}

.video__text {
  padding: 0;
  margin: 0;
}

.video__showplace {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: max-content;

  margin: 0 auto;
}

.video__image {
  display: block;
}

.video__controls {
  margin-top: -45px;
}

@media (min-width: $tablet-width) {
  .video__discription {
    padding: 65px 115px;
  }

  .video__title {
    font-size: 30px;
  }

  .video__controls {
    margin-top: -93px;
  }
}

@media (min-width: $desktop-width) {
  .video__discription {
    width: 420px;

    padding: 65px 0;
    margin: 0 auto;
  }
}
/* video end */
