<footer class="page-footer">
  <div class="page-footer--wrapper">
    <p class="page-footer__hashtag">
      <a href="#"
         class="page-footer__hashtag-link">#visitsedona</a>
    </p>
    <div class="page-footer__social social">
      <ul class="social__list">
        <li class="social__item">
          <a href="#"
             class="social__link social__link--twitter">
            <svg width="18px"
                 height="14px">
              <title>Мы в Твиттере</title>
              <use href="#s-icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#"
             class="social__link social__link--facebook">
            <svg width="9px"
                 height="18px">
              <title>Мы в Фейсбуке</title>
              <use href="#s-icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#"
             class="social__link social__link--youtube">
            <svg width="20px"
                 height="14px">
              <title>Мы на Ютьюбе</title>
              <use href="#s-icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="page-footer__copyright copyright">
      <b class="copyright__text">Разработано</b>
      <a href="https://htmlacademy.ru/intensive/adaptive"
         class="copyright__link">
        <svg width="27px"
             height="34px">
          <title>HTML Academy</title>
          <use href="#s-icon-htmlacademy"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
