<header class="page-header">
  <nav class="main-nav main-nav--opened main-nav--nojs">
    <button class="main-nav__open-button">
      <span class="visually-hidden">Открыть меню</span>
      <svg width="23px"
           height="21px">
        <use href="#s-icon-menu"></use>
      </svg>
    </button>
    <ul class="main-nav__list">
      <li class="main-nav__item main-nav__item--logo">
        <a class="main-nav__logo"
           href="index.html">
          <picture>
            <source media="(min-width: 1200px)"
                    srcset="img/svg/logotype-desktop.svg">
            <img src="img/svg/logotyle-mobile.svg"
                 alt="Логотип сайта"
                 class="main-nav__logo-image"
                 width="102px"
                 height="83px">
          </picture>
        </a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__item-link @@if (page == 'index') { main-nav__item-link--current }"
           href="index.html">Главная</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__item-link @@if (page == 'photo') { main-nav__item-link--current }"
           href="photo.html">Фото и видео</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__item-link @@if (page == 'form') { main-nav__item-link--current }"
           href="form.html">Форма отзыва</a>
      </li>
      <li class="main-nav__item">
        <a class="main-nav__item-link"
           href="https://htmlacademy.ru/intensive/adaptive">Html academy</a>
      </li>
    </ul>
    <button class="main-nav__close-button">
      <span class="visually-hidden">Закрыть меню</span>
      <svg width="23px"
           height="22px">
        <use href="#s-icon-cross"></use>
      </svg>
    </button>
  </nav>
</header>
