<picture>
  <title>@@title</title>
  <!-- Desctop -->
  <source type="image/webp"
          media="(min-width: 1200px)"
          srcset="img/webp/@@filename-desktop@2x.webp 2x,
                  img/webp/@@filename-desktop@1x.webp 1x">
  <source media="(min-width: 1200px)"
          srcset="img/@@filename-desktop@2x.jpg 2x,
                  img/@@filename-desktop@1x.jpg 1x">
  <!-- Tablet -->
  <source type="image/webp"
          media="(min-width: 768px)"
          srcset="img/webp/@@filename-tablet@2x.webp 2x,
                  img/webp/@@filename-tablet@1x.webp 1x">
  <source media="(min-width: 768px)"
          srcset="img/@@filename-tablet@2x.jpg 2x,
                  img/@@filename-tablet@1x.jpg 1x">
  <!-- Mobile -->
  <source type="image/webp"
          srcset="img/webp/@@filename-mobile@2x.webp 2x,
                  img/webp/@@filename-mobile@1x.webp 1x">
  <source srcset="img/@@filename-mobile@2x.jpg 2x,
              img/@@filename-mobile@1x.jpg 1x">

  <img class="@@classname"
       src="img/@@filename-desktop@1x.jpg"
       alt="@@title">
</picture>
