@mixin container {
  min-width: 300px;

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0 auto;

    position: relative;

    &::before,
    &::after {
      content: "";

      position: absolute;
      z-index: 1;

      width: 7px;
      height: 100%;
    }

    &::before {
      top: 0;
      left: 0;

      box-shadow: -4px 0 7px -2px rgba(0, 0, 0, 0.4);
    }

    &::after {
      top: 0;
      right: 0;

      box-shadow: 4px 0 7px -2px rgba(0, 0, 0, 0.4);
    }
  }
}
