// colors
$background-color: #ffffff;
$primary-color: #81b3d2;
$secondary-color: #eeeeee;
$primary-text-color: #000000;
$secondary-text-color: #333333;
// fonts
$font-family: "PT Sans", "arial", sans-serif;
$primary-font-size: 14px;
$secondary-font-size: 18px;
$primary-line-height: 21px;
$secondary-line-height: 26px;
// viewports & dpi
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
